.card {
  width: 100%;
  border: 1px solid #dee2e6;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 1rem rgba(160, 162, 164, 0.5);
}

.image {
  height: 24rem;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.content {
  padding: 1rem;
}

.title {
  font-weight: 500;
  line-height: 1.15;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

@media (min-width: $mantine-breakpoint-sm) {
  .card {
    width: calc(50% - 1rem);
  }
}

@media (min-width: $mantine-breakpoint-md) {
  .card {
    width: calc(33.3333% - 1rem);
  }
}

@media (min-width: $mantine-breakpoint-lg) {
  .card {
    width: calc(25% - 1rem);
  }
  .image {
    height: 20rem;
  }
}
