.sectionContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.sectionContainer h2 {
  font-size: 2.25rem;
  line-height: 1.25;
}

@media (min-width: $mantine-breakpoint-md) {
  .sectionContainer h2 {
    font-size: 3rem;
  }

  .sectionContainer p {
    padding: 0 8rem;
  }
}
