.heroContainer {
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.heroContainer h2 {
  font-size: 2.825rem;
  line-height: 1.25;
}

@media (min-width: $mantine-breakpoint-md) {
  .heroContainer h2 {
    font-size: 4rem;
  }

  .heroContainer p {
    padding: 0 8rem;
  }
}
