a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1.547619;
}
