.stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.group {
  composes: stack;
  flex-direction: row;
  align-items: center;
}

.mainContainer {
  composes: group;
  min-height: calc(100vh - 4rem);
  flex-direction: column;
  justify-content: center;
}

.list {
  composes: stack;
  gap: 0.5rem;
}
