.main {
  max-width: 32em;
  margin: 0 auto;
}

.imageWrapper {
  position: relative;
  height: 24rem;
}

.recipeContent {
  padding: 2rem 0.5rem;
  gap: 0.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  text-wrap: balance;

  @media (min-width: $mantine-breakpoint-md) {
    font-size: 2.625rem;
    line-height: 1.547619;
  }
}

.section {
  gap: 0.5rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.ingredient {
  composes: row;
  justify-content: initial;
  gap: 0.5rem;
}

.label {
  font-weight: 700;
}
