.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.ingredient {
  composes: row;
  justify-content: initial;
  gap: 0.5rem;
}

.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: relative;
  height: 24rem;
}

.label {
  font-weight: 700;
}