.main {
  padding: 2rem 1rem;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: $mantine-breakpoint-lg) {
  .main {
    max-width: 75em;
  }
}